<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>Datajo</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SyntaxHighlighter/shCore.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SyntaxHighlighter/shThemeDefault.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/style.less" rel="stylesheet" type="text/css" />
    
    <script type="text/javascript" src="~/Scripts/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui-1.9.2.min.js"></script>
    @RenderSection("jQueryPlugins", false)
    <script type="text/javascript" src="~/Scripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shCore.js"></script>
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shBrushXml.js"></script>
    <script type="text/javascript" src="~/Scripts/SyntaxHighlighter/shBrushJScript.js"></script>
    <script type="text/javascript" src="~/Scripts/script.js"></script>
    <script type="text/javascript" src="~/Scripts/datajo.js"></script>
    <script type="text/javascript">
        SyntaxHighlighter.all()
    </script>

</head>
<body data-jo-config='{"activityIndicator":"#loader"}'>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="brand" href="/">Datajo - unobtrusive, jQuery actions</a>
                <div id="loader">
                    <img src="~/Content/images/activity-indicator.gif" alt="" />
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span3">
                <div class="well" style="max-width: 340px; padding: 8px 0;">
                    <ul class="nav nav-list">
                        <li><a href="/">Home</a></li>
                        <li><a href="/#overview">Overview</a></li>
                        <li><a href="/#download">Download</a></li>
                        <li><a href="/#installation">Installation</a></li>
                        <li class="nav-header">Actions</li>
                        <li><a href="/documentation/action-show">Show</a></li>
                        <li><a href="/documentation/action-hide">Hide</a></li>
                        <li><a href="/documentation/action-get">Get</a></li>
                        <li><a href="/documentation/action-post">Post</a></li>
                        <li class="nav-header">Miscellaneous</li>
                        <li><a href="/documentation/event-types">Event types</a></li>
                        <li><a href="/documentation/html-injection-types">HTML injection types</a></li>
                        <li><a href="/documentation/multiple-actions">Multiple actions</a></li>
                        <li><a href="/documentation/easing-types">jQuery UI easing type</a></li>
                        <li><a href="/documentation/special-targets">Special targets</a></li>
                        <li><a href="/documentation/ajax-errors?datajo=debug">Ajax errors</a></li>
                        <li><a href="/documentation/activity-indicator">Activity indicator</a></li>
                        <li><a href="/documentation/jquery-validation">jQuery Validation</a></li>
                        <li><a href="/documentation/jquery-unobtrusive-validation">Unobtrusive Validation</a></li>
                    </ul>
                </div>
            </div>
            <div class="span9">
                @RenderBody()
            </div>
        </div>
    </div>
    
    <a href="https://github.com/bytecarrot/datajo" target="_blank">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 1031" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>

    
</body>
</html>
