@model dynamic

@{
    Layout = MVC.Shared.Views._Layout;
}

<h2>Action: <i>get</i></h2>
<p>
    Get action uses jQuery's <a href="http://api.jquery.com/jQuery.get/" target="_blank">$.get()</a> function to access specified URL and inject returned HTML to the right place.
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>target</td>
        <td>yes</td>
        <td></td>
        <td>Any valid jQuery selector representing unique HTML element</td>
    </tr>
    <tr>
        <td>url</td>
        <td>yes</td>
        <td></td>
        <td>Any valid URL returning a HTML code
        </td>
    </tr>
    <tr>
        <td>inject</td>
        <td>no</td>
        <td>replaceContent</td>
        <td>Any valid <a href="@Url.Action(MVC.Miscellaneous.HtmlInjectionTypes())">HTML injection type</a>
        </td>
    </tr>
    <tr>
        <td>event</td>
        <td>no</td>
        <td>click</td>
        <td>Any valid <a href="@Url.Action(MVC.Miscellaneous.EventTypes())">event type</a>
        </td>
    </tr>
</table>
Exmple:
<pre class="brush: js">
{
    "action":"get",
    "target":"#box",
    "url":"http://example.com/sample",
    "inject":"afterContent"
}
</pre>

<div id="box" class="example-box-get"></div>
<div class="btn-group btn-group" style="margin-top: 20px;">
    <a href="#" class="btn" data-jo='{"action":"get","target":"#box","url":"/action/get/example","inject":"afterContent"}'>
        Click me!
    </a>
    <a href="#" class="btn btn-info" data-jo='{"action":"get","target":"#box","url":"/action/get/example","inject":"replaceContent"}'>
        Reset
    </a>
</div>
