@model dynamic

<div id="success">
    Success! Your text is:<br />
    <h2>@Model.Text</h2>
    <div class="form-actions">
        <button class="btn btn-info" type="button" data-jo='{"action":"get","target":"#success","url":"/examples/unobtrusivevalidation","inject":"replaceTarget"}'>Reset</button>
    </div>
</div>
