@model dynamic

@{
    Layout = MVC.Shared.Views._Layout;
}

<h2>Action: <i>show</i></h2>
<p>
    Uses jQuery's <a href="http://api.jquery.com/show/" target="_blank">.show()</a> function to show HTML element specified as a target.
</p>
<table class="table table-bordered table-hover">
    <tr>
        <th>Parameter</th>
        <th>Required</th>
        <th>Default</th>
        <th>Description</th>
    </tr>
    <tr>
        <td>target</td>
        <td>yes</td>
        <td></td>
        <td>Any valid jQuery selector representing unique HTML element which should be shown</td>
    </tr>
    <tr>
        <td>duration</td>
        <td>no</td>
        <td>200</td>
        <td>Duration of the animation in miliseconds</td>
    </tr>
    <tr>
        <td>easing</td>
        <td>no</td>
        <td>linear</td>
        <td>Any valid jQuery / jQuery UI <a href="#">easing type</a></td>
    </tr>
</table>
Exmple:
<pre class="brush: js">
{
    "action":"show",
    "target":"#box",
    "duration":2000,
    "easing":"easeInBounce"
}
</pre>
<div class="example-box">
    <div id="box" style="display: none"></div>
</div>
<div class="btn-group btn-group" style="margin-top: 20px;">
    <a href="#" class="btn" data-jo='{"action":"show","target":"#box"}'>Click me!</a>
    <a href="#" class="btn" data-jo='{"action":"show","target":"#box","duration":2000,"easing":"easeInBounce"}'>Click me! duration: 2000, easing: easeInBounce</a>
    <a href="#" class="btn btn-info" data-jo='{"action":"hide","target":"#box"}'>Reset</a>
</div>
