body {
  padding-top: 15px;
  padding-bottom: 40px;
}
h2 i,
h3 i {
  color: #9e6ab8;
  font-style: normal;
}
.example-box {
  height: 120px;
  padding: 10px;
  border: solid 1px #eee;
}
.example-box div {
  height: 120px;
  background: url(images/background.png);
}
.example-box-get {
  padding: 10px;
  border: solid 1px #eee;
}
.example-box-get div {
  margin: 3px;
  padding: 10px;
  border: solid 1px #00f;
}
.nav-list > li > a {
  padding-left: 25px;
}
.field-validation-error,
label.error {
  color: #8B0000;
  display: block;
}
#loader {
  margin-top: 3px;
}
div.syntaxhighlighter {
  padding-top: 10px;
  padding-bottom: 10px;
  border: solid 1px #eee;
}
div.syntaxhighlighter div.toolbar,
div.syntaxhighlighter td.gutter {
  display: none;
}
div.tab-pane {
  padding: 2px;
}
ul.nav-tabs {
  margin-bottom: 10px;
}
