h2 i {
  color: #f00;
  font-style: normal;
}
.example-box {
  height: 120px;
  padding: 10px;
  border: solid 1px #eee;
}
.example-box div {
  height: 120px;
  background: url(images/background.png);
}
.example-box-get {
  padding: 10px;
  border: solid 1px #eee;
}
.example-box-get div {
  margin: 3px;
  padding: 10px;
  border: solid 1px #00f;
}
.navbar img.brand {
  padding: 6px 20px 5px 30px;
}
.nav-list > li > a {
  padding-left: 25px;
}
.field-validation-error {
  color: #8B0000;
  display: block;
}
#loader {
  margin-top: 3px;
}
