@using ByteCarrot.Datajo.Website
@model dynamic

@{
    Layout = MVC.Shared.Views._Layout;
}

<h2>jQuery / jQuery UI easing types</h2>
<p>Show and Hide actions support animations. By default when Datajo is used only with jQuery, <i>easing</i> parameter can be set to "swing" or "linear".</p>

<p>In order to extend set of easing types jQuery UI is required. jQuery UI reference should be added before Datajo.</p>
<pre class="brush: xml">
    <script type="text/javascript" src="jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="jquery-ui-1.9.2.min.js"></script>
    <script type="text/javascript" src="datajo.js"></script>
</pre>

<p><strong>Demos for all types of easings can be found here</strong>: <a href="http://jqueryui.com/resources/demos/effect/easing.html" target="_blank">http://jqueryui.com/resources/demos/effect/easing.html</a></p>