@using ByteCarrot.Datajo.Website.Controllers.Examples
@model dynamic

@{
    Layout = MVC.Shared.Views._Layout;
}

@section jQueryPlugins {
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}

<h2>jQuery Unobtrusive Validation</h2>

@Html.Partial(MVC.Examples.Views.UnobtrusiveValidation, new ValidatedFormViewModel())