@model ByteCarrot.Datajo.Website.Controllers.PostExample2ViewModel


<form id="form2">
    <div class="row">
        <div class="span12">
            @Html.TextBoxFor(x => x.TextField, new { placeholder = "Add some text and click button below", @class = "input-xlarge" })
            @Html.ValidationMessageFor(x => x.TextField)
        </div>
    </div>
    <div class="row">
        <div class="span12">
            <div class="btn-group btn-group-vertical">
                <button class="btn" type="button" data-jo='{"action":"post","target":"#form2","url":"/home/postexample2","form":"#form2","inject":"replaceTarget"}'>data-jo='{"action":"post","target":"#form2","url":"/home/postexample2","form":"#form2","inject":"replaceTarget"}'</button>
                <button class="btn btn-info" type="button" data-jo='{"action":"get","target":"#form2","url":"/home/postexample2","inject":"replaceTarget"}'>Reset</button>
            </div>
        </div>
    </div>
</form>
